<!DOCTYPE html>
<html>
<head>
	<title>Academics</title>
</head>
<body>
	<h1>Academics:</h1>
<table border="1 px solid black" style="width:100%; margin-top: 50px;">
	<tr>
		<th>Year</th>
		<th>Marks / Percentage / GP</th>
		<th>College / University Name</th>
	</tr>
	<tr>
	<td>2009</td>
	<td>78.9%</td>
	<td>Up Board</td>
	</tr>
	<tr>
		<td>2011</td>
		<td>69.9%</td>
		<td>UP Board</td>
	</tr>
	<tr>
		<td>2015</td>
		<td>8.16 GP</td>
		<td> MJP Rohilkhand University, Bareilly</td>
	</tr>
	
</table>

<br/><br/>
	<b>Visit:</b><br/><br/>
	<a href="index.html">Home Page</a><br/>
	</body>
</html> 
