<!DOCTYPE html>
<html>
<head>
	<title>Contact Details</title>
</head>
<body>
<h1>Contact Me:</h1><br/>
<table>
	<tr>
	<td><b>Contact Number:</b></td>
	<td>   +91 - 8147423350</td>		   
	</tr>
	<tr>
		<td><b>E-mail#1:</b></td>
		<td>   agg.sakshi1994@gmail.com</td>
	</tr>
	<tr>
		<td><b>E-mail#2:</b></td>
		<td>   agarwal.sakshi@cybrilla.com</td>
	</tr>
</table>
<br/><br/><br/>
<b>Visit:  </b>
<a href= "index.html">Home Page</a>
</body>
</html>
