<!DOCTYPE html>
<html>
<head>
<title>Sakshi Agarwal</title>
<link type="text/css" rel="stylesheet" href="index.css">
</head>

<body>

<div class="myHeader">
<img src="http://1.bp.blogspot.com/-bFOPew8lLRg/VfkCnabxv3I/AAAAAAAAAgE/abVFhBoVxFQ/s1600/Sakshi-designstyle-colors-m%2B%25281%2529.png">
<ul>
<li><a href= "prove.html">Prove Mathematically</a></li>
<li><a href= "2048/index.html">2048 Game</a></li>
<li><a href= "2548/index.html">2548 Game</a></li>
<li><a href= "my_color_flood/index.html">Color Flood</a></li>
</ul>

	</div>

	<div id="nav">
		<ul>
          <br/>  <br/> <br/><br/>
			<li><a href="aboutme.html ">About Me</a></li>
	<br/>	<li><a href="contactme.html ">Contact Me</a></li>
<br/><li><a href="academics.html">Academics</a></li><br/>
		</ul>
</div>

	<div id="section">
        <br/><br/><br/>
<h2>Introduction</h2>
<img style = " width: 300px; hight: 300px;" src="https://fbcdn-sphotos-c-a.akamaihd.net/hphotos-ak-xfp1/v/t1.0-9/10983395_703176283125264_1859198479646304147_n.jpg?oh=dab61cad5a3aba925a3c801d0025fe8d&oe=56613522&__gda__=1452761259_747531dfb26652ae9c37189f2f8412ba"></img>
<p style = " float: right;">  Hey, This is Sakshi Agarwal. I'm from Uttar Pradesh. I've completed my B.tech in Computer Science & Information Technology from MJP Rohilkhand University, Bareilly and now I'm working with awesome people in Cybrilla Technologies. I love to work here.. :) </p>
</div>


<div id = "rightnav">
    <br/>
    <br/><br/><br/>
<p><strong>Project:</strong></p>
<ul>
<li><strong><a href= "prove.html">Prove Mathematically</a></strong></li>
<br/>
<li><strong><a href= "2548/index.html">2548 GAME!</a></strong></li>
<br/>
<li><strong><a href= "2048/index.html">2048 GAME!</a></strong></li><br/>
<li><strong><a href= "my_color_flood/index.html">Color Flood</a></strong></li><br/>
<br/>
</ul>
</div>

<div id="footer">
Copyright © sakshi
</div>

</body>
</html>
