<!DOCTYPE html>
<html>
<head>
<title>Prove Mathematically</title>
</head>
<body>
<h3>Prove mathematically that, given only those tiles get merged that add up to form a number that is nth power of 2 and that tiles are numbered from 2, the tiles will always be of same number.</h3>
<br/>
<p>Since,  We are adding the numbers which are same. 
Let say, numbers are x &x, where x is the power of 2 (as this is the basic requirement).</p>
<p>Or, we can say,
    
x= 2<sup>y</sup>
    
<br/>Therefore, after adding this two numbers, we will get,
<br/>
2x = 2<sup>y</sup> + 2<sup>y</sup>
<br/>2x = 2*2<sup>y</sup> = 2<sup>(y+1)</sup>
<br/>which is again a number which is in the power of 2. No other number is get merged in the game.
<br/>
Hence we can say that, given only those tiles get merged that add up to form a number that is nth power of 2.
<br/>
<br/>

<b><i>EXAMPLE-</b></i>
<br/>
Let say number is 16(2^4) & 16(2^4),
<br/>After adding them up 16+16=32(2^5) is also a number which is power of two.
</p>
<h4>You may also like:</h4>
<%= link_to 'Home Page', articles_index_path %><br/><br/>
<%= link_to '2048 Game', articles_2048index_path %><br/><br/>
<%= link_to '2548 Game', articles_2548index_path %><br/><br/>
<%= link_to 'Color Flood', articles_color_flood_path %>
</body>
</html>

